version: '3.4'

services:

  lpvs:
    environment:
      WAIT_HOSTS: mysqldb:3306
    build:
      context: .
    restart: always
    ports:
      - "7896:7896"
    environment:
      ## spring data
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/lpvs
      - spring.datasource.username=root
      - spring.datasource.password=lpvsroot
      ## github data
      - github.login=
      - github.token=
      - github.api.url=https://api.github.com  # for usual GitHub account 
      - github.secret=LPVS 
    depends_on:
      - mysqldb
    networks:
      - lpvs
      
  mysqldb:
    image: mysql:latest
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ""
    healthcheck:
        test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
        timeout: 20s
        retries: 10
    volumes:
      - ./mysql-lpvs-data:/var/lib/mysql # db storage
      - ./src/main/resources/database_dump.sql:/docker-entrypoint-initdb.d/init.sql # init for creating db lpvs with predifined tables
      ##- ./conf/my.cnf:/etc/mysql/my.cnf # custom mysql config- if needed 
    networks:
      - lpvs
      
networks:
  lpvs: