/**
 * Copyright 2023 kyudori, Basaeng, hwan5180, quswjdgma83
 *
 * Use of this source code is governed by a MIT license that can be
 * found in the LICENSE file.
 */

 .history-send {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.history-send .div {
  background-color: #ffffff;
  border: 1px none;
  position: relative;
  width: 1920px;
}

.history-send .overlap {
  height: 882px;
  left: 34px;
  position: absolute;
  top: 133px;
  width: 572px;
}

.history-send .option-menu {
  height: 853px;
  left: 41px;
  position: relative;
  top: 13px;
  width: 482px;
}

.history-send .button {
  height: 773px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 482px;
}

.history-send .my-pull-request {
  height: 255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 484px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.history-send .my-pull-request:active,
.history-send .my-pull-request:focus {
  background-color: #f0f0f0;
  transform: translateY(4px)
}

.history-send .overlap-group {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
  height: 255px;
  position: relative;
  width: 482px;
  box-shadow: 0px 4px 4px #00000040, 2px 2px 2px 1px gray;
  border: 1px solid gray;
}

.history-send .text-wrapper {
  color: black;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 104px;
  white-space: nowrap;
}

.history-send .text-wrapper-gray {
  color: #0057B8;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 104px;
  white-space: nowrap;
}

.history-send .my-repo-pr-button {
  height: 255px;
  left: 0;
  position: absolute;
  top: 259px;
  width: 484px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.history-send .my-repo-pr-button:active,
.history-send .my-repo-pr-button:focus {
  background-color: #f0f0f0;
  transform: translateY(4px)
}

.history-send .my-repo-PR {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 107px;
  white-space: nowrap;
}

.history-send .my-repo-PR-gray {
  color: #0057B8;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 107px;
  white-space: nowrap;
}

.history-send .my-org-PR-button {
  height: 255px;
  left: 0;
  position: absolute;
  top: 518px;
  width: 484px;
  cursor: pointer;
  transition: background-color 0.3s
}

.history-send .my-org-PR-button:active,
.history-send .my-org-PR-button:focus {
  background-color: #f0f0f0;
  transform: translateY(4px)
}

.history-send .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 140px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.history-send .text-wrapper-2-gray {
  color: #0057B8;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 140px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 97px;
  white-space: nowrap;
}

.history-send .my-option-header {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 484px;
}

.history-send .my-option-line {
  left: 0;
  position: absolute;
  top: 58px;
  width: 100%;
}

.history-send .my-option-line svg {
  width: 100%;
  height: 2px;
  display: block;
}

.history-send .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  white-space: nowrap;
}

.history-send .page-move-tool-bar {
  height: 30px;
  left: 900px;
  position: absolute;
  width: 286px;
}

.history-send .page-number {
  align-items: flex-start;
  margin-top: 20px;
  display: inline-flex;
  gap: 33px;
  left: 35px;
  top: 0;
}

.history-send .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 13px;
  cursor: pointer;
}

.history-send .text-wrapper-4-blue {
  color: #0057B8;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 13px;
  cursor: pointer;
}

.history-send .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 16px;
  cursor: pointer;
}

.history-send .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 17px;
  cursor: pointer;
}

.history-send .right-arrow {
  height: 22px;
  left: 275px;
  position: absolute;
  top: 4px;
  width: 13px;
  cursor: pointer;
}

.history-send .left-arrow {
  height: 22px;
  left: -2px;
  position: absolute;
  top: 4px;
  width: 13px;
  cursor: pointer;
}

.history-send .overlap-2 {
  width: 1236px;
  position: relative;
  margin: 140px 0 0 630px;
}

.history-send .history-box {
  height: 882px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1236px;
}

.history-send .history {
  height: 158px;
  left: 0;
  top: 724px;
  width: 1242px;
}

.history-send .overlap-3 {
  margin-top: 22px;
  background-image: url(../../public/image/png/Stroke.png);
  background-size: 100% 100%;
  height: 166px;
  position: relative;
  width: 1244px;
}

.history-send .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 15px;
  display: inline-block;
}

.text-wrapper-7-container {
  position: relative;
}

.history-send .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 65px;
  white-space: nowrap;
}

.history-send .text-wrapper-8 ::after {
  content: counter(name);
}

.history-send .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  white-space: nowrap;
}

.history-send .prid {
  height: 26px;
  left: calc(100% + 20px);
  position: absolute;
  top: 4px;
  width: 77px;
}

.history-send .div-wrapper {
  background-color: #d9d9d9;
  border-radius: 15px;
  height: 26px;
  position: absolute;
  left: 0px;
  width: 75px;
}

.history-send .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.history-send .status-scan-error {
  height: 27px;
  left: calc(100% + 20px);
  position: absolute;
  top: 1px;
  width: 187px;
}

.history-send .overlap-wrapper {
  height: 158px;
  left: 0;
  position: absolute;
  top: 543px;
  width: 1242px;
}

.history-send .overlap-4 {
  background-image: url(../../public/image/png/Stroke.png);
  background-size: 100% 100%;
  height: 166px;
  left: -4px;
  position: relative;
  width: 1244px;
}

.history-send .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 15px;
  display: inline-block;
}

.history-send .p {
  color: transparent;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 65px;
  width: 1150px;
  white-space: nowrap;
}

.history-send .span {
  color: #000000;
}

.history-send .text-wrapper-12 {
  color: #0057b8;
}

.history-send .overlap-group-wrapper {
  height: 26px;
  left: calc(100% + 20px);
  position: absolute;
  top: 4px;
  width: 77px;
}

.history-send .text-wrapper-13 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.history-send .status-issue {
  height: 27px;
  left: calc(100% + 20px);
  position: absolute;
  top: 0px;
  width: 187px;
}

.history-send .overlap-5 {
  border-radius: 5px;
  height: 27px;
  position: relative;
  width: 300px;
}

.history-send .text-wrapper-14 {
  color: #ff0000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 100%;
}

.history-send .history-2 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 362px;
  width: 1242px;
}

.history-send .overlap-6 {
  background-image: url(../../public/image/png/Stroke.png);
  background-size: 100% 100%;
  height: 166px;
  left: -4px;
  position: relative;
  width: 1244px;
}

.history-send .text-wrapper-15 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 15px;
  display: inline-block;
}

.history-send .prid-2 {
  height: 26px;
  left: calc(100% + 20px);
  position: absolute;
  top: 4px;
  width: 77px;
}

.history-send .text-wrapper-16 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.history-send .status-scan {
  height: 27px;
  left: calc(100% + 20px);
  position: absolute;
  top: 0px;
  width: 187px;
}

.history-send .issue-detected {
  color: #0000ff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 161px;
}

.history-send .history-3 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 181px;
  width: 1242px;
}

.history-send .overlap-7 {
  background-image: url(../../public/image/png/Stroke.png);
  background-size: 100% 100%;
  height: 166px;
  left: -4px;
  position: relative;
  width: 1244px;
}

.history-send .text-wrapper-17 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 15px;
  display: inline-block;
}

.history-send .prid-3 {
  height: 26px;
  left: calc(100% + 20px);
  position: absolute;
  top: 4px;
  width: 77px;
}

.history-send .text-wrapper-18 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.history-send .status-scan-2 {
  height: 27px;
  left: calc(100% + 20px);
  position: absolute;
  top: 0px;
  width: 187px;
}

.history-send .overlap-8 {
  height: 28px;
  position: relative;
  width: 185px;
}

.history-send .history-4 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1242px;
}

.history-send .overlap-9 {
  background-image: url(../../public/image/png/Stroke.png);
  background-size: 100% 100%;
  height: 166px;
  left: -4px;
  position: relative;
  width: 1244px;
}

.history-send .text-wrapper-19 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 16px;
  display: inline-block;
}

.history-send .https-github-com-kim {
  color: transparent;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 65px;
  width: 800px;
}

.history-send .prid-4 {
  height: 26px;
  left: calc(100% + 20px);
  position: absolute;
  top: 4px;
  width: 77px;
}

.history-send .text-wrapper-20 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.history-send .status-issue-2 {
  height: 27px;
  left: calc(100% + 20px);
  position: absolute;
  top: 0px;
  width: 187px;
}


.history-send .text-wrapper-21 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1425px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
  white-space: nowrap;
  width: 167px;
}

.history-send .menubar-top {
  height: 101px;
  left: 39px;
  position: absolute;
  top: 8px;
  width: 1842px;
}

.history-send .menu-line {
  background-color: #000000;
  height: 3px;
  left: 0;
  position: absolute;
  top: 98px;
  width: 1842px;
}

.history-send .menu {
  background-color: white;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1848px;
}

.history-send .overlap-11 {
  height: 43px;
  left: 1572px;
  position: absolute;
  top: 37px;
  width: 272px;
}

.history-send .profile-border {
  background-color: #d9d9d9;
  height: 3px;
  left: 104px;
  position: absolute;
  top: 20px;
  transform: rotate(-90deg);
  width: 40px;
}

.history-send .text-wrapper-22 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1535px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
  width: 115px;
}

.history-send .profile {
  height: 43px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 135px;
}

.history-send .overlap-group-2 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 43px;
  position: relative;
  width: 133px;
}

.history-send .image {
  height: 31px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 35px;
}

.history-send .text-wrapper-23 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 71px;
}

.history-send .text-wrapper-24 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1395px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 43px;
  white-space: nowrap;
  width: 167px;
}

.history-send .text-wrapper-25 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 43px;
  white-space: nowrap;
  width: 104px;
}

.history-send .LPVS {
  height: 96px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 229px;
}

.history-send .complete {
  color: rgba(0, 0, 255, 1);
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  top: 0px;
  white-space: nowrap;
  width: 100%;
  margin-left: 10px;
  position: static;
  z-index: 1;
}

.history-send .status-label {
  background-color: #ff000054;
  border: 1px solid;
  border-color: #ff0000;
  border-radius: 5px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 185px;
}

.history-send .status-label-2 {
  background-color: #0000ff42;
  border: 1px solid;
  border-color: #0000ff;
  border-radius: 5px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 185px;
}

.history-send .status-label-3 {
  background-color: rgba(255, 245, 16, 0.5);
  border: 1px solid;
  border-color: #F9EF00;
  border-radius: 5px;
  height: 27px;
  width: 185px;
  z-index: 1;
  position: relative;
}


.history-send .Issue-Detected {
  background-color: #ff000054;
  border: 2px solid;
  border-color: #ff0000;
  border-radius: 5px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 185px;
}

.history-send .Scan-completed {
  background-color: #0000ff42;
  border: 2px solid;
  border-color: #0000ff;
  border-radius: 5px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 185px;
}

.history-send .Scan-Error {
  background-color: rgba(255, 245, 16, 0.5);
  border: 2px solid;
  border-color: #3F4311;
  border-radius: 5px;
  height: 27px;
  left: 0;
  top: 0;
  width: 185px;
  z-index: 1;
}

.history-send .Scan-Error-text {
  color: #ff0000 !important;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 100%;
}

.history-send .Scan-completed-text {
  color: #0000ff !important;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 161px;
}

.history-send .Issue-Detected-text {
  color: #ff0000 !important;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 100%;
}

.history-send .dropdown {
  left: 53%;
  margin-top: -25px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.history-send .dropdown span {
  justify-content: start;
  width: 160px;
  font-size: 20px;
  font-weight: bold;
  margin-right: -20px;
}

.history-send .dropdown select {
  padding: 5px;
  width: 85px;
  border: 0.1px solid black;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s ease;
}
