/**
 * Copyright 2023 kyudori, Basaeng, hwan5180, quswjdgma83
 *
 * Use of this source code is governed by a MIT license that can be
 * found in the LICENSE file.
 */

.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.home .LPVS-info {
  height: 896px;
  left: 593px;
  position: absolute;
  top: 140px;
  width: 1273px;
}

.home .overlap-group {
  background-color: #000000ba;
  height: 800px;
  position: relative;
  width: 1265px;
  top: -10px;
}

.home .user-guide {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 1195px;
}

.home .text-wrapper {
  font-weight: 500;
}

.home .span {
  font-family: "Inter-Regular", Helvetica;
}

.home .LPVS-logo {
  height: 885px;
  left: 15px;
  position: absolute;
  top: 125px;
  width: 574px;
}

.home .LPVS-github {
  height: 407px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 400px;
  width: 472px;
}

.home .license-explain {
  color: #00057b;
  font-family: "Inter-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
}

.home .text-wrapper-2 {
  color: #80808275;
  font-family: "Inter-Bold", Helvetica;
  font-size: 70px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -10px;
  white-space: nowrap;
  width: 217px;
}

.home .menubar-top {
  height: 101px;
  left: 39px;
  position: absolute;
  top: 8px;
  width: 1842px;
}

.home .menu-line {
  background-color: #0057b8;
  height: 3px;
  left: 0;
  position: absolute;
  top: 98px;
  width: 1842px;
}

.home .menu {
  height: 43px;
  left: 1270px;
  position: absolute;
  top: 37px;
  width: 578px;
}

.home .overlap {
  height: 43px;
  left: 302px;
  position: absolute;
  top: 0;
  width: 272px;
}

.home .profile {
  height: 43px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 135px;
}

.home .overlap-group-2 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 43px;
  position: relative;
  width: 133px;
}

.home .image {
  height: 31px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 35px;
}

.home .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
  width: 71px;
}

.home .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 320px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 104px;
}

.home .profile-border {
  background-color: #d9d9d9;
  height: 3px;
  left: 104px;
  position: absolute;
  top: 20px;
  transform: rotate(-90deg);
  width: 40px;
}

.home .LPVS {
  height: 96px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 229px;
}
