.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.home .LPVS-info {
  height: 896px;
  left: 593px;
  position: absolute;
  top: 139px;
  width: 1273px;
}

.home .overlap-group {
  background-color: #000000ba;
  height: 896px;
  position: relative;
  width: 1271px;
}

.home .open-source-code {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 1195px;
}

.home .text-wrapper {
  font-weight: 500;
}

.home .span {
  font-family: "Inter-Regular", Helvetica;
}

.home .LPVS-logo {
  height: 885px;
  left: 0;
  position: absolute;
  top: 139px;
  width: 574px;
}

.home .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 32px;
  left: 351px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 853px;
  width: 217px;
}

.home .LPVS-remove {
  height: 407px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 446px;
  width: 472px;
}

.home .license-pre {
  color: #00057b;
  font-family: "Inter-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.home .text-wrapper-3 {
  color: #80808275;
  font-family: "Inter-Bold", Helvetica;
  font-size: 70px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 217px;
}

.home .menubar-top {
  height: 101px;
  left: 39px;
  position: absolute;
  top: 8px;
  width: 1842px;
}

.home .menu-line {
  background-color: #0057b8;
  height: 3px;
  left: 0;
  position: absolute;
  top: 98px;
  width: 1842px;
}

.home .menu {
  height: 43px;
  left: 1270px;
  position: absolute;
  top: 37px;
  width: 578px;
}

.home .overlap {
  height: 43px;
  left: 302px;
  position: absolute;
  top: 0;
  width: 272px;
}

/* .home .profile-border {
  background-color: #d9d9d9;
  height: 3px;
  left: 104px;
  position: absolute;
  top: 20px;
  transform: rotate(-90deg);
  width: 40px;
} */

.home .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 115px;
}

.home .profile {
  height: 43px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 135px;
}

.home .overlap-group-2 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 43px;
  position: relative;
  width: 133px;
}

.home .image {
  height: 31px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 35px;
}

.home .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 71px;
}

.home .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 125px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 167px;
}

.home .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 104px;
}

.home .LPVS {
  height: 96px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 309px;
}
