name: Build & Publish Documentation

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  generate-and-publish-mkdocs:
    name: Build and Publish Updated Docs
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install docs required dependencies
        run: pip install --require-hashes -r doc/requirements-docs.txt
      - name: Build website
        run: |
          cd doc
          mkdocs build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/site
